@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JOE'S PIZZA</h1>
    <p>Taste of goodness with Love &#10084; </p>
    <p><a href="https://pizzaonline.dominos.co.in/"> Click here for Orders </a>.</p>
    <h2> YOUR PIZZA'S</h2>
    <h2>YOUR CHOICE</h2>
     <img src="https://t4.ftcdn.net/jpg/02/80/76/25/360_F_280762538_J9HntPpVOkpVcfpID3kNIlkYk7QSn5sw.jpg" />
<div>