@{
    ViewData["Title"] = "Payment";
}
<h1>Payment Confirmed </h1>
<div class="text-center">
    <h2> YOUR ORDER WILL ARRIVE IN 30 MINUTES</h2>
    <h3>&#10084; Have a nice day &#10084;</h3>
    <img src="https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148697385.jpg" />
</div>
